.btn {
  font-size: 2rem;
  margin: 1.5rem;
  padding: 10px 15px;
  color: $highlight-orange-red !important;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: $rounded;
  z-index: 1;
  &-primary {
    color: white !important;
    background-color: $highlight-orange-red;
  }
  &.disabled {
    background-color: #ff8b71;
    cursor: not-allowed;
  }
}

.input {
  width: 100%;
  padding: 12px 16px;
  border-radius: $rounded;
  color: #000;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid $gray-300;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    border-color: $highlight-orange-red;
  }
  textarea {
    resize: none;
    height: 96px;
  }
}

.link {
  font-size: 2rem;
  text-decoration: underline;
  &-primary {
    color: $highlight-orange-red;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
