@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/fonts/Gilroy-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('/fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('/fonts/Rubik-Bold.woff') format('woff');
}