$background-color: #f9f9f9;
$text-color: #2c2c2c;

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;

$button-blue: #007bff;
$button-orange: #ffc107;

$highlight-green: #28a745;
$highlight-orange-red: #ff5733;
$highlight-red: #ef4444;


$qr-black: #000000;
$qr-blue: #007bff;

$primary-font-ExtraBold: "Gilroy-ExtraBold", sans-serif;
$primary-font-Bold: "Gilroy-Bold", sans-serif;
$primary-font-Light: "Gilroy-Light", sans-serif;
$primary-font-Medium: "Gilroy-Medium", sans-serif;

$secondary-font: "Rubik", sans-serif;
$secondary-font-Bold: "Rubik-Bold", sans-serif;

$general-transition: all 0.3s;

$rounded: 10px;
$full-rounded: 50%;
