@import "_variables.scss";
@import "_fonts.scss";
@import "_typographys.scss";
@import "_mixins.scss";
@import "_components.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $secondary-font;
  transition: $general-transition;

  overflow-x: hidden;
  @include scrollbar();
  &.overflow-y {
    overflow-y: hidden;
  }
}

html {
  font-size: 10px;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 991px) {
    width: 90%;
  }
}

img {
  width: 100%;
  user-select: none;
}

input {
  color: $text-color;
}

a {
  color: inherit;
  font-size: 10px;
  text-decoration: none;
  transition: $general-transition;
  outline: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

header {
  nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3rem 9rem;
    transition: $general-transition;
    z-index: 1000;
    * {
      user-select: none;
    }
    .nav-logo {
      .logo {
        font-size: 5rem;
        font-family: $primary-font-Bold;
        color: $highlight-orange-red;
        @include media(medium) {
          font-size: 3rem;
        }
      }
    }
    &.scrolled {
      background-color: $gray-100;
      padding: 1rem 5rem;
      .nav-logo {
        .logo {
          font-size: 3rem;
        }
      }
    }
    @include flex(center, space-between, row);
    @include media(medium) {
      padding: 2rem 3rem;
      &.scrolled {
        padding: 1rem 2rem;
      }
    }
    .nav-links {
      @include media(medium) {
        display: none;
      }
    }
    .mobile-menu-icon {
      width: 50px;
      height: 50px;
      display: none;
      cursor: pointer;
      @include media(medium) {
        display: flex;
      }
    }
    .mobile-menu-area {
      position: fixed;
      right: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      background: $gray-100;
      transition: $general-transition;
      transform: translateX(100%);
      height: 100%;
      width: 100%;
      display: none;
      z-index: 9999; // Ensure it's above other elements
      @include media(medium) {
        display: flex;
      }
      &-active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
      .mobile-menu {
        z-index: 9999; // Ensure it's above other elements
        .infos {
          position: absolute;
          top: 30px;
          left: 30px;
          @include flex(center, space-between, row);
          * {
            margin: 0 10px;
          }
          .user-image {
            width: 50px;
            height: 50px;
            border-radius: $full-rounded;
            object-fit: cover;
          }
          .user-name {
            font-size: 2rem;
            font-family: $primary-font-Bold;
          }
        }
        background-color: $gray-100;
        width: 100%;
        height: 100%;
        transition: $general-transition;
        .mobile-menu-icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
          position: fixed;
          top: 40px;
          right: 30px;
          @include media(medium) {
            display: flex;
          }
        }
        .mobile-menu-links {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          padding: 10px 15px;
          transform: translateX(-50%);
          .mobile-menu-link {
            width: 100%;
            border-radius: $rounded;
            margin: 4px 0;
            padding: 10px 15px;
            color: $text-color;
            font-size: 1.8rem;
            @include flex(center, flex-start, row);
            * {
              margin: 0 10px;
            }
            img {
              width: 20px;
              height: 20px;
            }
            &:hover {
              background-color: $gray-300;
            }
            &:last-child {
              background-color: $highlight-orange-red;
              color: white;
            }
          }
        }
      }
    }
    .user-area {
      padding: 1rem 0.5rem;
      border-start-start-radius: 10px;
      min-width: 215px;
      border-start-end-radius: 10px;
      position: relative;
      transition: $general-transition;
      @include flex(flex-start, space-between, column);
      .infos {
        cursor: pointer;
        @include flex(center, space-between, row);
        * {
          margin: 0 10px;
        }
        .user {
          @include flex(center, space-between, row);
          .user-image {
            width: 50px;
            height: 50px;
            border-radius: $full-rounded;
            object-fit: cover;
          }
          .user-name {
            font-size: 2rem;
            font-family: $primary-font-Bold;
          }
        }
        .dropdown-icon {
          width: 20px;
          height: 20px;
          transition: $general-transition;
        }
      }
      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $gray-200;
        min-width: 215px;
        width: 100%;
        max-height: 0;
        border-end-start-radius: 10px;
        border-end-end-radius: 10px;
        overflow: hidden;
        transition: $general-transition;
        z-index: 1000; // Ensure it's above other elements
        @include flex(center, center, column);
        a {
          width: 100%;
          border-radius: $rounded;
          margin: 4px 0;
          padding: 10px;
          color: $text-color;
          font-size: 1.8rem;
          @include flex(center, flex-start, row);
          * {
            margin: 0 10px;
          }
          img {
            width: 20px;
            height: 20px;
          }
          &:hover {
            background-color: $gray-300;
          }
          &:last-child {
            background-color: $highlight-orange-red;
            color: white;
          }
        }
      }
      &-active {
        background-color: $gray-200;
        .dropdown-icon {
          transform: rotate(180deg);
        }
        .dropdown {
          max-height: 500px;
          padding: 3px 10px 10px 10px;
        }
      }
      @include media(medium) {
        display: none;
      }
    }
  }
  .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: $general-transition;
    opacity: 0;
    z-index: 9999;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    &-active {
      pointer-events: all;
      opacity: 1;
      height: 1000000vh;
    }
  }
  .qrcode-area {
    overflow-y: auto;
    width: 30vw;
    height: 70vh;
    position: fixed;
    background-color: $gray-200;
    border-radius: $rounded;
    z-index: 10000;
    display: none;
    padding: 80px 20px 20px 20px;
    @include centered();
    &-active {
      display: block;
    }
    @include media(large) {
      width: 95vw;
      height: 60vh;
    }
    input {
      display: none;
    }
    #qrcode-area-close-button {
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .img {
      @include flex(center, center, column);
      user-select: none;
      cursor: pointer;
      svg {
        width: 75%;
      }
    }
    p {
      text-align: center;
      margin-top: 30px;
      font-size: 1.5rem;
    }
    .download-button {
      margin-top: 40px;
      display: block;
    }
  }
}

main {
  .home-area {
    .swiper {
      &.welcome {
        .swiper-wrapper {
          .swiper-slide {
            height: 100vh;
            position: relative;
            .texts {
              position: absolute;
              left: 100px;
              height: 100%;
              top: 0;
              transform: translateY(35%);
              max-width: 50%;
              @include flex(start, start, column);
              color: white;
              opacity: 1;
              text-align: start;
              .title {
                font-family: $primary-font-Bold;
                font-size: 6rem;
              }
              @include media(medium) {
                left: 35px;
                max-width: 80%;
                .title {
                  font-size: 2rem;
                }
                .description {
                  font-family: $primary-font-Light;
                  font-size: 1.5rem;
                }
              }
            }
            .img {
              width: 100vw;
              height: 100vh;
            }
          }
        }
      }
    }
    .why {
      margin-top: 70px;
      h6 {
        text-align: center;
        font-size: 8rem;
        color: $highlight-orange-red;
      }
      .cards {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .card {
          border-radius: $rounded;
          background-color: $gray-200;
          @include flex(start, start, column);
          gap: 8px;
          .title {
            background-color: $highlight-orange-red;
            color: white;
            padding: 2rem;
            border-top-left-radius: $rounded;
            border-top-right-radius: $rounded;
            width: 100%;
            font-size: 3rem;
            font-family: $primary-font-Bold;
          }
          .description {
            font-size: 1.5rem;
            padding: 2rem;
          }
        }
      }
      @include media(medium) {
        h6 {
          font-size: 4rem;
        }
        .cards {
          @include media(large) {
            grid-template-columns: repeat(2, 1fr);
          }
          @include media(small) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
    .why_o {
      margin-top: 80px;
      .titles {
        color: white;
        background-color: $highlight-orange-red;
        @include flex(center, center, column);
        padding: 2rem 0;
        margin-bottom: 5rem;
        gap: -10px;
        .top-title {
          font-size: 3rem;
        }
        .title {
          color: $highlight-orange-red;
          background-color: white;
          padding: 1rem 2rem;
        }
      }
      .section {
        .cards {
          @include flex(center, center, column);
          gap: 30px;
          .card {
            @include flex(center, center, column);
            width: 100%;
            background-color: $gray-200;
            text-align: center;
            border-radius: $rounded;
            .title {
              padding: 2rem;
              background-color: $highlight-orange-red;
              width: 100%;
              color: white;
              border-start-start-radius: $rounded;
              border-start-end-radius: $rounded;
              font-size: 3rem;
              font-family: $primary-font-ExtraBold;
            }
            .description {
              padding: 4rem 2rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .menu-area {
    margin-top: 150px;
    user-select: none;
    .categories-bar {
      padding: 0 2rem;
      .swiper {
        .swiper-slide {
          width: auto;
          background-color: $highlight-orange-red;
          color: white;
          border-radius: $rounded;
          cursor: pointer;
          transition: $general-transition;
          a {
            padding: 0.5rem 1rem;
            font-size: 2rem;
          }
          &-active {
            background-color: #ff441a;
          }
        }
      }
    }
    .categories {
      padding: 0 20px;
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      padding-bottom: 40px;
      @include media(large) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media(small) {
        grid-template-columns: repeat(1, 1fr);
      }
      .category-card {
        max-width: 90%;
        .category-content {
          width: 90vw;
          height: 15vh;
          background-color: $gray-200;
          border-radius: $rounded;
          @include flex(start, center, row);
          align-items: center;
          cursor: pointer;
          gap: 30px;
          padding-right: 15px;
          .image {
            width: 40vw;
            height: 100%;

            img {
              max-height: 20vh;
              height: 100%;
              object-fit: cover;
              border-radius: $rounded;
            }
          }
          .texts {
            max-width: 40vw;
            padding: 10px 0;
            .top {
              display: flex; // @include flex(center, space-between, row); yerine doğrudan flex kullanımı
              align-items: center;
              justify-content: space-between;
              gap: 20px;

              .title {
                color: $highlight-orange-red;
                font-family: $primary-font-Bold;
                font-size: 2rem;
              }
              .icon {
                width: 20px;
              }
            }
            .description {
              margin-top: 10px;
            }
          }
        }

        .category-card-content {
          max-height: 0;
          overflow: hidden;
          padding: 0 15px;
          background-color: $gray-200;
          transition: $general-transition;
          .products {
            @include flex(center, center, column);
            gap: 10px;
            .product {
              @include flex(start, start, row);
              gap: 30px;
              .image {
                img {
                  border-radius: $rounded;
                  object-fit: cover;
                  width: 115px;
                  height: 70px;
                }
              }
              .texts {
                .titleAndPrice {
                  @include flex(center, space-between, row);
                  font-family: $primary-font-Bold;
                  font-size: 2rem;
                  color: $highlight-orange-red;
                }
                .description{
                  margin-top: 15px;
                }
              }
            }
          }
          &.category-card-content-active {
            padding: 15px;
            max-height: 1000px; // Sufficiently large value to ensure content fits
          }
        }

        &.category-card-active {
          .category-content {
            border-end-end-radius: 0;
            border-end-start-radius: 0;
            padding: 0;
            height: auto;
            @include flex(center, center, column);
            gap: 5px;
            .image {
              transition: $general-transition;
              height: 100%;
              width: 90vw;
            }
            .texts {
              gap: 0;
              width: 90%;
              max-width: 100vw;
              text-align: start;
              @include flex(start, start, column);
              .top {
                .icon {
                  display: none;
                }
              }
            }
          }
          .category-card-content {
            padding: 15px;
            border-end-start-radius: $rounded;
            border-end-end-radius: $rounded;
            max-height: 1000px;
            width: 90vw;
          }
        }
      }
    }
  }
  .cafe-home {
    margin-top: 150px;
    #bulk-update-div {
      width: 100%;
      text-align: end;
      padding-right: 20px;
      .bulk-update {
        cursor: pointer;
      }
      .bulk-update-area {
        overflow-y: auto;
        min-width: 50vw;
        height: 70vh;
        position: fixed;
        background-color: $gray-200;
        border-radius: $rounded;
        z-index: 10000; // Ensure it's above everything
        display: none;
        padding: 80px 20px 20px 20px;
        @include centered();
        &-active {
          display: block;
        }
        #bulk-update-area-close-button {
          position: absolute;
          top: 25px;
          right: 25px;
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .content {
          text-align: center;
          .title {
            font-size: 5rem;
            font-weight: bold;
            font-family: $primary-font-Bold;
          }
          form {
            margin-top: 40px;
            * {
              font-size: 1.5rem;
              text-align: center;
            }
            .input-group {
              margin: 25px 0 0 0;
              @include flex(center, space-between, row);
              * {
                margin: 0 5px;
              }
              button {
                width: 100%;
              }
              &.info {
                text-align: center;
                @include flex(center, center, row);
              }
            }
          }
        }
        @include media(large) {
          width: 95vw;
          height: 80vh;
          .content {
            form {
              .input-group {
                @include flex(center, center, column);
                margin: 15px;
                * {
                  margin: 10px;
                }
              }
            }
            .title {
              font-size: 3rem;
            }
          }
        }
      }
    }
    .cards {
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      padding-bottom: 40px;
      @include media(large) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media(small) {
        grid-template-columns: repeat(1, 1fr);
      }
      .card {
        border-radius: $rounded;
        background-color: $gray-100;
        margin: 0 auto;
        width: 90%;
        height: 50vh;
        @include flex(center, space-between, column);
        a {
          width: 100%;
        }
        .card-image {
          border-radius: $rounded;
          width: 100%;
          height: 200px;
          img {
            border-radius: $rounded;
            height: 100%;
            object-fit: cover;
          }
        }
        .card-texts {
          padding: 20px 40px 10px 20px;
          .card-description {
            font-family: $primary-font-Light;
            font-size: 1.5rem;
            margin: 20px 0;
          }
        }

        &.new-category {
          .card-image {
            @include flex(center, center, row);
            img {
              width: 70%;
            }
          }
        }
      }
    }
  }
  .menu-edit-area {
    margin-top: 150px;
    .modal {
      overflow-y: auto;
      width: 60vw;
      height: 70vh;
      position: fixed;
      background-color: $gray-200;
      border-radius: $rounded;
      z-index: 10000; // Ensure it's above everything
      display: none;
      padding: 80px 20px 20px 20px;
      @include centered();
      &-active {
        display: block;
      }
      @include media(large) {
        width: 95vw;
        height: 80vh;
      }
      input {
        display: none;
      }
      .close-button {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .images-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @include media(large) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include media(small) {
          grid-template-columns: repeat(1, 1fr);
        }
        * {
          border-radius: $rounded;
          cursor: pointer;
          height: 25vh;
        }
        .new-image {
          background-color: $gray-300;
          label {
            @include flex(center, center, column);
            gap: 20px;
            width: 100%;
            height: 100%;
            img {
              width: 80px;
              height: 80px;
            }
          }
        }
        .modal-image {
          object-fit: cover;
          transition: all 0.1s;
          &:hover {
            border: 2px solid $highlight-orange-red;
          }
          &-selected {
            border: 4px solid $highlight-orange-red !important;
          }
        }
      }
      .in-modal-image-select-button {
        margin-top: 40px;
        display: block;
      }
    }
    .category-edit-area {
      border-radius: $rounded;
      width: 100%;
      height: 30vh;
      background-color: $gray-100;
      position: relative; // Ensure proper stacking context
      @include media(large) {
        height: 60vh;
      }
      .category {
        @include flex(start, flex-start, row);
        gap: 100px;
        @include media(large) {
          @include flex(center, flex-start, column);
          gap: 0;
        }

        .category-photo {
          width: 50%;
          position: relative;
          z-index: 1; // Ensure it's below modal
          .image {
            transition: all 1s ease;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
              pointer-events: none;
              border-radius: $rounded;
              transition: $general-transition;
              opacity: 0;
            }
            img {
              border-radius: $rounded;
              object-fit: cover;
              height: 30vh;
            }
          }
          @include media(large) {
            width: 100%;
          }
          .buttons {
            display: none;
            transition: all 0.5s ease;
            * {
              margin: 5px;
              display: block;
            }
            .changeButton {
              background-color: white;
              color: $highlight-orange-red;
            }
          }
          &:hover {
            .image {
              &::after {
                opacity: 1;
              }
            }
            .buttons {
              position: absolute;
              @include flex(center, center, column);
              @include centered();
              z-index: 10; // Ensure it's above image
            }
          }
        }
        .category-inputs {
          padding: 0 1rem;
          width: 100%;
          @include flex(center, space-between, column);
          input {
            background-color: transparent;
            border: none;
            outline: none;
            margin: 10px 0;
            width: 100%;
            @include media(large) {
              text-align: center;
            }
          }
          .name {
            font-family: $primary-font-ExtraBold;
            font-size: 8rem;
            font-weight: 800;
            @include media(medium) {
              font-size: 4rem;
            }
          }
          .description {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
    }
    .products-edit-area {
      margin: 15vh 0;
      width: 100%;
      .new-product {
        user-select: none;
        @include flex(center, flex-start, row);
        background-color: $gray-100;
        gap: 100px;
        border-radius: $rounded;
        padding: 15px;
        margin-bottom: 25px;
        cursor: pointer;
        .new-product-skeleton-image {
          width: 30%;
          height: 15vh;
          border-radius: $rounded;
          background-color: $gray-200;
        }
        .new-product-skeleton-text {
          font-size: 5rem;
          color: $gray-300;
          user-select: none;
        }
        @include media(large) {
          @include flex(center, flex-start, column);
          .new-product-skeleton-image {
            width: 100%;
          }
          gap: 50px;
          .new-product-skeleton-text {
            font-size: 3rem;
          }
        }
      }
      .product-edit-area {
        margin: 25px 0;
        background-color: $gray-100;
        padding: 1rem;
        border-radius: $rounded;
        @include flex(start, flex-start, row);
        gap: 100px;
        @include media(large) {
          @include flex(center, flex-start, column);
          gap: 0;
        }
        .modal {
          overflow-y: auto;
          width: 60vw;
          height: 70vh;
          position: fixed;
          background-color: $gray-200;
          border-radius: $rounded;
          z-index: 10000; // Ensure it's above everything
          display: none;
          padding: 80px 20px 20px 20px;
          @include centered();
          &-active {
            display: block;
          }
          @include media(large) {
            width: 95vw;
            height: 80vh;
          }
          input {
            display: none;
          }
          .close-button {
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
            img {
              width: 20px;
              height: 20px;
            }
          }
          .images-area {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            @include media(large) {
              grid-template-columns: repeat(3, 1fr);
            }
            @include media(small) {
              grid-template-columns: repeat(1, 1fr);
            }
            * {
              border-radius: $rounded;
              cursor: pointer;
              height: 25vh;
            }
            .new-image {
              background-color: $gray-300;
              label {
                @include flex(center, center, column);
                gap: 20px;
                width: 100%;
                height: 100%;
                img {
                  width: 80px;
                  height: 80px;
                }
              }
            }
            .modal-image {
              object-fit: cover;
              transition: all 0.1s;
              &:hover {
                border: 2px solid $highlight-orange-red;
              }
              &-selected {
                border: 4px solid $highlight-orange-red !important;
              }
            }
          }
          .in-modal-image-select-button {
            margin-top: 40px;
            display: block;
          }
        }
        .product-photo {
          width: 50%;
          position: relative;
          z-index: 1; // Ensure it's below modal
          .image {
            transition: all 1s ease;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
              pointer-events: none;
              border-radius: $rounded;
              transition: $general-transition;
              opacity: 0;
            }
            img {
              border-radius: $rounded;
              object-fit: cover;
              height: 30vh;
            }
          }
          @include media(large) {
            width: 100%;
          }
          .buttons {
            display: none;
            transition: all 0.5s ease;
            * {
              margin: 5px;
              display: block;
            }
            .changeButton {
              background-color: white;
              color: $highlight-orange-red;
            }
          }
          &:hover {
            .image {
              &::after {
                opacity: 1;
              }
            }
            .buttons {
              position: absolute;
              @include flex(center, center, column);
              @include centered();
              z-index: 10; // Ensure it's above image
            }
          }
        }
        .product-inputs {
          padding: 2rem 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          align-items: start;
          gap: 10px;
          @include media(large) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
          }
          .name {
            grid-area: 1 / 1 / 2 / 2;
          }
          .price {
            grid-area: 2 / 1 / 3 / 2;
          }
          .description {
            grid-area: 1 / 2 / 3 / 3;
          }
          input,
          textarea {
            background-color: transparent;
            width: 100%;
            height: 100%;
            resize: none;
            font-family: $secondary-font;
            font-size: 2rem;
          }
          @include media(large) {
            input,
            textarea {
              text-align: center;
            }
            .name {
              grid-area: 1 / 1 / 2 / 2;
            }
            .price {
              grid-area: 2 / 1 / 3 / 2;
            }
            .description {
              grid-area: 3 / 1 / 4 / 2;
            }
          }
        }
      }
    }
    form {
      .form-control {
        width: 100%;
        background-color: $gray-200;
        position: fixed;
        bottom: 0;
        left: 50%;
        z-index: 99;
        display: flex;
        justify-content: center;
        transform: translateX(-50%);
        button {
          width: 60%;
          @include media(large) {
            width: 960%;
          }
        }
      }
    }
  }
  .profile-area {
    margin-top: 320px;
    form {
      .form-button {
        @include flex(flex-end, flex-end, column);
        width: 90%;
        button {
          width: 69%;
          margin: 0;
          @include media(large) {
            width: 100%;
          }
        }
        @include media(large) {
          width: 100%;
        }
      }
      .form-controls {
        @include flex(start, flex-start, row);
        gap: 200px;
        @include media(large) {
          @include flex(center, flex-start, column);
          gap: 50px;
        }
        .pp-area {
          width: 120px;
          height: 120px;
          position: relative;
          z-index: 1; // Ensure it's below modal
          transition: all 1s ease;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 120px;
            background-color: rgba(0, 0, 0, 0.5);
            pointer-events: none;
            border-radius: $full-rounded;
            transition: $general-transition;
            opacity: 0;
          }
          .profile-photo-img {
            width: 120px;
            height: 120px;
            border-radius: $full-rounded;
            object-fit: cover;
          }

          input {
            display: none;
          }
          .buttons {
            display: none;
            width: 100%;
            transition: all 0.5s ease;
            label {
              cursor: pointer;
              padding: 30px;
              img {
                cursor: pointer;
                filter: brightness(0) invert(1);
              }
            }
          }
          &:hover {
            &::after {
              opacity: 1;
            }
            .buttons {
              position: absolute;
              @include flex(center, center, column);
              @include centered();
              z-index: 10;
            }
          }
        }
        .inputs {
          @include flex(start, space-between, row);
          @include media(large) {
            @include flex(center, flex-start, column);
          }
          .input-group {
            @include flex(start, flex-start, column);
            width: 100%;
            margin-bottom: 20px;
            span {
              margin-top: -10px;
            }
          }
          textarea {
            width: 325px !important;
            resize: none;
          }
          gap: 50px;
          .left {
            @include flex(center, space-between, column);
            .input {
              margin-bottom: 20px;
              width: 100%;
              font-size: 24px;
            }
          }
          .right {
            @include flex(center, space-between, column);
            .input {
              margin-bottom: 20px;
              width: 100%;
              font-size: 24px;
            }
          }
        }
      }
      @include media(large) {
        .form-controls {
          @include media(large) {
            @include flex(center, flex-start, column);
            gap: 50px;
          }
        }
      }
    }
  }
  .login-area,
  .register-area {
    margin-top: 150px;
    form {
      @include flex(center, center, column);
      width: 50%;
      gap: 10px;
      margin-left: auto;
      margin-right: auto;
      .inputs {
        @include flex(center, center, column);
        gap: 15px;
        width: 25vw;
        @include media(large) {
          width: 85vw;
        }
        input {
          width: 100%;
          font-size: 2rem;
        }
      }
      .form-control {
        width: 25vw;
        @include media(large) {
          width: 85vw;
        }
        button {
          font-size: 1.5rem;
          width: 100%;
          margin: 0;
        }
      }
      span {
        white-space: nowrap;
        margin-top: 20px;
        font-size: 1.8rem;
        a {
          font-size: 1.8rem;
        }
      }
    }
  }
  .error-box {
    width: 100vw;
    height: 100vh;
    @include flex(center, center, column);
    text-align: center;
    h1 {
      font-size: 10rem;
    }
    p {
      font-size: 3rem;
    }
    a {
      font-size: 3rem;
      text-decoration: underline;
      margin-top: 20px;
      color: $highlight-orange-red;
    }
  }
}
.error-area {
  @include flex(center, center, column);
  width: 40vw;
  font-size: 2rem;
  min-height: 100px;
  color: red;
  @include media(large) {
    margin-top: 0;
    width: 100%;
  }
}
footer {
  width: 100%;
  height: 30vh;
  background-color: $gray-200;
  @include flex(center, center, column);
  gap: 30px;
  position: relative;
  bottom: 0;
  user-select: none;
  left: 0;
  z-index: 999;
  margin-top: 100px;
  p,
  a {
    font-size: large;
    font-family: $secondary-font;
  }
  .footer-links {
    a {
      margin: 0 10px;
      img {
        width: 25px;
      }
    }
  }
}
