<div class="home-area">
  <div class="swiper welcome">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="texts">
          <p class="title">Modern Menü Deneyimi</p>
          <p class="description">Geleneksel menülerden modern QR kod sistemine geçin. Restoran menülerini akıllı
            telefonunuzla kolayca inceleyin ve siparişinizi hızla tamamlayın</p>
        </div>
        <div class="img">
          <img src="images/welcome.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="why">
    <h6>NEDEN QR MENÜ?</h6>
    <div class="cards container">
      <div class="card">
        <p class="title">Anında Görüntüleme</p>
        <p class="description">QR kodları ile restoran menülerine hızlı ve kolay erişim sağlayın. Siparişinizi
          beklemeden, dilediğiniz lezzetleri hemen inceleyin."</p>
      </div>
      <div class="card">
        <p class="title">Hijyenik ve Temiz </p>
        <p class="description">Kağıt menüler yerine QR kodları ile hijyenik bir deneyim yaşayın. Menülerinizi her zaman
          temiz ve güncel tutarak güvenliğinizi ön planda tutun</p>
      </div>
      <div class="card">
        <p class="title">Her Zaman Güncel</p>
        <p class="description">Restoran menülerinizin içeriğini kolayca güncelleyin ve değişiklikleri anında
          müşterilerinizle paylaşın. QR Menü ile menü yönetimi artık daha basit</p>
      </div>
    </div>
  </div>
  <div class="why_o">
    <div class="titles">
      <h6 class="top-title">Peki neden</h6>
      <h6 class="title">Kare Menü?</h6>
    </div>
    <div class="section container">
      <div class="cards">
        <div class="card container">
          <p class="title">Tamamen Ücretsiz Hizmet</p>
          <p class="description">Kare Menü, QR kod menü hizmetlerini tamamen ücretsiz sunuyor. Restoranınızın dijital
            dönüşümüne kolay ve maliyetsiz bir başlangıç yapın</p>
        </div>
        <div class="card container">
          <p class="title">QR Kodunuz Hazır</p>
          <p class="description">Menülerinizi yükleyin, gerisini bize bırakın. Kare Menü otomatik olarak QR kodlarınızı
            oluşturur ve sizin için hazır hale getirir. Basit ve verimli bir çözüm.</p>
        </div>
        <div class="card container">
          <p class="title">Hızlı ve Sorunsuz Kurulum</p>
          <p class="description">Menünüzü oluşturmak ve Kare Menü'yü kullanmaya başlamak sadece birkaç dakika sürer.
            Hemen kayıt olun, ücretsiz ve hızlı kurulum ile zaman kaybetmeden dijital menülerinize geçiş yapın</p>
        </div>
      </div>
      <!-- <p class="and-more">ve daha fazlası</p> -->
    </div>
  </div>
</div>